h1 {
    color: rgb(15, 15, 15);
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(221, 70, 171)
    
    
}

p {
    text-align: center;
    background-color: rgb(203, 236, 12)
}



